/* * box model */
* {
    background-color: black;
}
h1{
    color: white;
    width: 300px;
    background-color: darkcyan;   
    display: inline-block;
    padding: 30px;
    border: darkgoldenrod solid 10px ;
    margin: 50px;
}
/* ? content -> padding -> border -> margin */
/* ! now element has total width of 390px */

/* * Units: Absolute & Relative */
img {
    width: 500px;
    /* viewport here means display screen */
}
/* ? Absolute units are fixed, Relative units are fluid */
 div { height: 10px;
 }
 #absolute{
     margin-top: 50px;
     width: 50px;
     /* color: white; */
     background-color: darkred;
    }
 #relative{
     /* color: white; */
     margin-top: 50px;
     width: 50vw; /*? (rel. to screen) middle of the screen*/
     /* 50%(rel. to parent) */
     background-color: lime;
    } 
    /* ? Try changing widow size */

    p{
        color: white;
    /*? by default paragraph element size is 16px and also 1em is 16px */
        font-size: 2em;
    }
    