/* * more margin and padding */
img {
    width: 200px;
    display: block;
    margin: 0px auto;
}

#wolf {
    background-color: lightcoral;
}
#cat {
    background-color: lightgreen;
}

h2 {
    padding: 0px 20px;
    margin: 10px auto; /*! here auto will keep element in center*/
    text-align: center
}
div{
    background-color: lightskyblue;
    width: 100px;
    height: 100px;

    /* border-width: 10px;
    border-color: maroon; 
    border-style: dashed;  */
    /* ! border will not be applied unless mentioning its style*/
    border: 10px solid navy;
    /* ? sequence: size, style, color */
    /* border-width: 10px 5px 3px 2px;*/ 
    /* border-color: magenta orange red blue; */
    /*? sequence top,right,bottom,left*/
    /* border-radius: 10px ; */  /* !curved edges */
    /* border-radius: 50% ; */ /* !circle */
    /* border-top-left-radius: 30px ; */
    border-radius: 10px 30px 50px 70px;
} 
