/* * Fonts */
*{
    background-color: black;
}
#t{
    font-size: 100px;
    font-family: sans-serif;
    /* ! sans-serif means without serif */
    font-weight: lighter;
    margin-bottom: 0px;
}

#a {
    margin-top: 5px;
    font-family: 'Lora', serif;
    font-size: 100px;
}
h1{
    color: yellow;
}
h2{
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    color: white;
}
/* ? custom font (downloaded) */
@font-face {
    /* ! making a variable for font */
    font-family: myfont;
    src: url(font/ExpletusSans-VariableFont_wght.ttf);
}
p{
    color: brown;
    font-size: 40px;
    font-family: myfont;
}