/* universal selector */
* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color:bisque;
}
h1 {
    color:white;
    font-size: 100px;
    border: 1px solid skyblue;
    background-color: teal;
}
/* id selector */
#yo  {
    font-size: 50px; 
    color: orangered;
    text-shadow: 3px 3px 5px grey;
}
#welcome {
    color: blueviolet;
    font-size: 50px;
    font-style: italic; 
}
/* class selector */
.class {
    color: purple;
    text-decoration: underline blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 /* attribute selector */
input[type] {
    border: 2px solid blueviolet;
}
/* attribute selector by its value */
input[type="button"] {
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* attribute selector starts with */
p[title^="T"] {
    color: chocolate;
    font-style: italic;
}
/* ...ends with */
p[title$="d"] {
    color: blue;
}
/* ...contains word */
p[title~="deaf"] {      
    color: crimson;
}
/* #combinator selectors */
/* -multiple select */
t, button {
    color: blue;
    font-weight: bold;
}
/* -nested select 1: all the perticular element inside a grandparent(outerDiv)*/
#outerDiv p {
    color: chartreuse;
} /* not showing bcz of the below code */ 
/* -nested select 2: selects inside parent(innerDiv)*/
#innerDiv > p {
    color: cornflowerblue;
}
/* -style all p tags immediately after h4 tag before breaking */
h4 + p {
    color: darkgreen;
}
/* -style all h5 tags immediately before p tag before breaking */
p ~ h5 {
    color: darkred;
}

