/* * Padding: space inside an element */
p{
background-color: lightblue;
    display: inline-block;
    /* padding: 10px; */
    /* padding-left: 50px;
    padding-bottom: 40px; */
    /* padding: 50px 20px 90px 10px */ /*? top, right, bottom, left*/
    padding: 40px 5px; /*? top&bottom, left&reft */
}

/* * Margin: space outside an element */
p1{
    background-color: crimson;
    /* margin: 50px; */
    margin: 100px;
    /* margin-top: 50px; */
    /* margin-left: 40px; */
    /* margin: 50px 20px 90px 10px */ /*? top, right, bottom, left*/
    margin: 40px 5px; /*? top&bottom, left&reft */
}