
.button {
  font: inherit;
  border: 1px solid #0f5781;
  background: #0f5781;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}